In [2]:
#Dependencies
import json
import os
import pandas as pd

# Load JSON
filepath = os.path.join("..","Lucas", "circuits.json")
with open(filepath) as jsonfile:
    circuit_data = json.load(jsonfile)

In [3]:
df = pd.read_json('../Lucas/circuits.json', orient='records')
df.head()

,circuitId,url,circuitName,Location
0,adelaide,http://en.wikipedia.org/wiki/Adelaide_Street_C...,Adelaide Street Circuit,"{'lat': '-34.9272', 'long': '138.617', 'locali..."
1,ain-diab,http://en.wikipedia.org/wiki/Ain-Diab_Circuit,Ain Diab,"{'lat': '33.5786', 'long': '-7.6875', 'localit..."
2,aintree,http://en.wikipedia.org/wiki/Aintree_Motor_Rac...,Aintree,"{'lat': '53.4769', 'long': '-2.94056', 'locali..."
3,albert_park,http://en.wikipedia.org/wiki/Melbourne_Grand_P...,Albert Park Grand Prix Circuit,"{'lat': '-37.8497', 'long': '144.968', 'locali..."
4,americas,http://en.wikipedia.org/wiki/Circuit_of_the_Am...,Circuit of the Americas,"{'lat': '30.1328', 'long': '-97.6411', 'locali..."

In [4]:
# extract circuitName, lat, long, locality, country
df = df[['circuitName', 'Location']]
df.head()

,circuitName,Location
0,Adelaide Street Circuit,"{'lat': '-34.9272', 'long': '138.617', 'locali..."
1,Ain Diab,"{'lat': '33.5786', 'long': '-7.6875', 'localit..."
2,Aintree,"{'lat': '53.4769', 'long': '-2.94056', 'locali..."
3,Albert Park Grand Prix Circuit,"{'lat': '-37.8497', 'long': '144.968', 'locali..."
4,Circuit of the Americas,"{'lat': '30.1328', 'long': '-97.6411', 'locali..."

In [5]:
# break out location into lat, long, locality, country
df = pd.concat([df.drop(['Location'], axis=1), df['Location'].apply(pd.Series)], axis=1)
df.head()

                      circuitName       lat      long    locality    country
0         Adelaide Street Circuit  -34.9272   138.617    Adelaide  Australia
1                        Ain Diab   33.5786   -7.6875  Casablanca    Morocco
2                         Aintree   53.4769  -2.94056   Liverpool         UK
3  Albert Park Grand Prix Circuit  -37.8497   144.968   Melbourne  Australia
4         Circuit of the Americas   30.1328  -97.6411      Austin        USA

In [8]:
# rename columns
df = df.rename(columns={'circuitName': 'Circuit Name', 'lat': 'Latitude', 'long': 'Longitude', 'locality': 'City', 'country': 'Country'})
df.head()

                     Circuit Name  Latitude Longitude        City    Country
0         Adelaide Street Circuit  -34.9272   138.617    Adelaide  Australia
1                        Ain Diab   33.5786   -7.6875  Casablanca    Morocco
2                         Aintree   53.4769  -2.94056   Liverpool         UK
3  Albert Park Grand Prix Circuit  -37.8497   144.968   Melbourne  Australia
4         Circuit of the Americas   30.1328  -97.6411      Austin        USA

In [10]:
# save dataframe to csv
df.to_csv('circuit_info.csv', index=False)