In [1]:
# import dependencies
import pandas as pd

In [2]:
# read in csv files
df1 = pd.read_csv('../Jason/Formula1/drivers_clean.csv')
df2 = pd.read_csv('../Bryan/f1_salaries.csv')

In [3]:
# merge dataframes on Driver column
df = pd.merge(df1, df2, on='Driver')
df.columns

Index(['Driver', 'Nationality', 'Team', 'Salary', 'Age', 'Salary_in_Millions'], dtype='object')

In [4]:
# drop unnecessary columns
df = df.drop(columns=['Salary'])
df.columns

Index(['Driver', 'Nationality', 'Team', 'Age', 'Salary_in_Millions'], dtype='object')

In [5]:
# rename Salary_in_Millions column
df = df.rename(columns={'Salary_in_Millions': 'Salary'})
df.columns

Index(['Driver', 'Nationality', 'Team', 'Age', 'Salary'], dtype='object')

In [6]:
# sort by Salary (Millions) column
df = df.sort_values(by='Salary', ascending=False)
df.head()

            Driver Nationality      Team  Age  Salary
4   Max Verstappen       Dutch  Red Bull   25    55.0
0   Lewis Hamilton     British  Mercedes   38    35.0
8  Charles Leclerc  Monegasque   Ferrari   25    24.0
9     Lando Norris     British   McLaren   23    20.0
5     Carlos Sainz     Spanish   Ferrari   28    12.0

In [7]:
# add $ to Salary (Millions) column
df['Salary'] = '$' + df['Salary'].astype(str) + 'M'
df

             Driver Nationality          Team  Age  Salary
4    Max Verstappen       Dutch      Red Bull   25  $55.0M
0    Lewis Hamilton     British      Mercedes   38  $35.0M
8   Charles Leclerc  Monegasque       Ferrari   25  $24.0M
9      Lando Norris     British       McLaren   23  $20.0M
5      Carlos Sainz     Spanish       Ferrari   28  $12.0M
10   George Russell     British      Mercedes   25   $8.0M
6      Esteban Ocon      French        Alpine   26   $6.0M
1   Fernando Alonso     Spanish  Aston Martin   41   $5.0M
2      Pierre Gasly      French        Alpine   27   $5.0M
3   Kevin Magnussen      Danish          Haas   30   $5.0M
7      Lance Stroll    Canadian  Aston Martin   24   $2.0M
12      Guanyu Zhou     Chinese    Alfa Romeo   23   $2.0M
13    Nyck de Vries       Dutch    AlphaTauri   28   $2.0M
14    Oscar Piastri  Australian       McLaren   21   $2.0M
11     Yuki Tsunoda    Japanese    AlphaTauri   22   $1.0M
15   Logan Sargeant    American      Williams   22   $1.0M

In [37]:
# save to csv
df.to_csv('driver_info.csv', index=False)